.fredoka-font {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.signup-form,
.login-form {
    min-height: 450px;
    border-radius: 3px;
    padding: 5px;
}

.logout {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: end;
    align-items: center;
}

.introduction-page {
    height: 450px;
}

.default-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.default-form-button {
    display: flex;
    justify-content: center;
}

.default-form-button > button {
    display: block;
    width: 50%;
}

.default-form-details {
    width: 70%;
}

.create-new-form {
    min-height: 400px;
}

.create-wallet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    grid-column-gap: 10px;
    height: 75%;
}

.create-wallet a {
    display: block;
    width: 100%;
}

.wallet-one,
.wallet-two {
    display: grid;
    place-content: center;
}

.wallet-one-item,
.wallet-two-item {
    width: 250px;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 10px;
    min-height: 700px;
}

.balance {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
    place-items: center;
    background-color: black;
    color: white;
    outline: 2px solid silver;
    border-radius: 3px;
}

.transactions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    place-items: center;
    background-color: thistle;
    outline: 2px solid skyblue;
    border-radius: 3px;
}

.transactions a {
    display: inline-block;
    width: 200px;
}

.fund-form,
.withdraw-form,
transfer-form,
.transactions-list {
    min-height: 400px;
}

.payment-history {
    background-color: gray;
    color: #ffffff;
    outline: 2px solid darkgray;
    border-radius: 3px;
}

.transactions-list {
    display: flex;
    justify-content: center;
    align-content: center;
}

button[type="submit"],
button[type="reset"] {
    margin-left: 15px;
    width: 100px;
}
