{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h3 class="mt-3">Sign Up</h3>
    <div class="signup-form border rounded p-3 mb-3">
        <form class="mt-3" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="mt-5">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
            <p class="p-3">Already have an account, please sign in here: <a href="{% url 'login' %}">Sign In</a></p>
        </form>
    </div>
</div>
{% endblock content %}